<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
        <!--REGULAR COMMANDS-->
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" id="assign-a" aria-current="page" href="/">
                    <span data-feather="home"></span>
                    Assignment Hub
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="create-a" href="/assignment/create">
                    <span data-feather="file-plus"></span>
                    Create Assignment
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="stats-a" href="#">
                    <span data-feather="bar-chart-2"></span>
                    Performance Statistics
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="classroom-a" href="/user/classroom">
                    <span data-feather="users"></span>
                    Manage Student Accounts
                </a>
            </li>
        </ul>
        
        <!--QUIZ REPORTS-->
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Quiz reports</span>
        </h6>
        <ul class="nav flex-column mb-2">
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span data-feather="file-text"></span>
                    CS 258 - Basic Loop Quiz
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span data-feather="file-text"></span>
                    CS 358 - Inheritance Quiz
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span data-feather="file-text"></span>
                    CS 311 - Sorting Test
                </a>
            </li>
        </ul>
    </div>
</nav>