<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" id="home-a" aria-current="page" href="/">
                    <span data-feather="home"></span>
                    Assignment Hub
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="create-a" href="/assignment/create">
                    <span data-feather="file-plus"></span>
                    Create Assignment
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="stats-a" href="#">
                    <span data-feather="bar-chart-2"></span>
                    Performance Statistics
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="classroom-a" href="/user/classroom">
                    <span data-feather="users"></span>
                    Manage Student Accounts
                </a>
            </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Quiz reports</span>
        </h6>
        <ul class="nav flex-column mb-2">
            {%for i in range(0, len)%}
            <li class="nav-item">
                <a class="nav-link" href="/report/{{assignments[i]['_id']}}">
                    <span data-feather="file-text"></span>
                    {{assignments[i]["title"]}}
                </a>
            </li>
            {%endfor%}
        </ul>
    </div>
</nav>

<script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"
    integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE"
    crossorigin="anonymous"></script>