{% extends "base.html" %}

{% block title %}Page Pog{% endblock %}

{% block content %}
<div class="container" style="margin-top: 5%;">
    <div class="row">
        <div class="col-sm" style="margin-right: 4%;">
            <h2>YOUR WEEKLY</h2>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Keystone</th>
                    <th scope="col">Number Completed</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">0</th>
                    <td>2</td>
                  </tr>
                  <tr>
                    <th scope="row">1</th>
                    <td>5</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>9</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>9</td>
                  </tr>
                  <tr>
                    <th scope="row">4</th>
                    <td>9</td>
                  </tr>
                  <tr>
                    <th scope="row">5</th>
                    <td>9</td>
                  </tr>
                  <tr>
                    <th scope="row">6</th>
                    <td>9</td>
                  </tr>
                  <tr>
                    <th scope="row">7</th>
                    <td>9</td>
                  </tr>
                  <tr>
                    <th scope="row">8</th>
                    <td>9</td>
                  </tr>
                  <tr>
                    <th scope="row">9</th>
                    <td>9</td>
                  </tr>
                  <tr>
                    <th scope="row">10+</th>
                    <td>9</td>
                  </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm">
            <h2>YOUR TOTAL</h2>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Keystone</th>
                    <th scope="col">Number Completed</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">0</th>
                    <td>2</td>
                  </tr>
                  <tr>
                    <th scope="row">1</th>
                    <td>5</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>9</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>9</td>
                  </tr>
                  <tr>
                    <th scope="row">4</th>
                    <td>9</td>
                  </tr>
                  <tr>
                    <th scope="row">5</th>
                    <td>9</td>
                  </tr>
                  <tr>
                    <th scope="row">6</th>
                    <td>9</td>
                  </tr>
                  <tr>
                    <th scope="row">7</th>
                    <td>9</td>
                  </tr>
                  <tr>
                    <th scope="row">8</th>
                    <td>9</td>
                  </tr>
                  <tr>
                    <th scope="row">9</th>
                    <td>9</td>
                  </tr>
                  <tr>
                    <th scope="row">10+</th>
                    <td>9</td>
                  </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm" style="margin-left: 4%;">
            <h2>WORLD TOTAL</h2>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Keystone</th>
                    <th scope="col">Number Completed</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">0</th>
                    <td>2</td>
                  </tr>
                  <tr>
                    <th scope="row">1</th>
                    <td>5</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>9</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>9</td>
                  </tr>
                  <tr>
                    <th scope="row">4</th>
                    <td>9</td>
                  </tr>
                  <tr>
                    <th scope="row">5</th>
                    <td>9</td>
                  </tr>
                  <tr>
                    <th scope="row">6</th>
                    <td>9</td>
                  </tr>
                  <tr>
                    <th scope="row">7</th>
                    <td>9</td>
                  </tr>
                  <tr>
                    <th scope="row">8</th>
                    <td>9</td>
                  </tr>
                  <tr>
                    <th scope="row">9</th>
                    <td>9</td>
                  </tr>
                  <tr>
                    <th scope="row">10+</th>
                    <td>9</td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}