{% extends "master.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<form class="form-signin center" method="POST">
  {% for message in get_flashed_messages() %}
  <div class="alert alert-warning" role="alert" style="margin-bottom: 10%;">{{message}}</div>
  {% endfor %}
  <!--TITLE-->
  <img class="mb-4" src="https://getbootstrap.com/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="72"
    height="57">
  <h1 class="h3 mb-3 fw-normal">Sign In</h1>

  <!--EMAIL-->
  <div class="form-floating">
    <input type="email" class="form-control" id="floatingInput" name="email" placeholder="name@example.com">
    <label for="floatingInput">Email address</label>
  </div>

  <!--PASSWORD-->
  <div class="form-floating">
    <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password" style="margin-bottom: 10px;">
    <label for="floatingPassword">Password</label>
  </div>

  <!--BUTTONS-->
  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>
  <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
  <a href="/user/register">Register</a>
  <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
</form>
{% endblock %}