{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="container" id="page-content" style="margin-top: 7%;">

  {% for message in get_flashed_messages() %}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endfor %}

  <div class="row">
    <div class="col-lg-10 col-xl-9 mx-auto">
      <div class="card card-signin flex-row my-5">
        <!--IMAGE-->
        <div class="card-img-left d-none d-md-flex">
          <img src="../static/images/register.jpg" alt="Torghast">
        </div>

        <!--REGISTRATION FORM-->
        <div class="card-body">
          <h5 class="card-title text-center">Register</h5>
          <!--FORM-->
          <form class="form-signin" method="POST">
            <!--USERNAME-->
            <div class="form-label-group">
              <input type="text" id="inputUserame" name="username" class="form-control" placeholder="Username" required
                autofocus>
              <label for="inputUserame">Username</label>
            </div>

            <!--SPEC-->
            <div class="form-label-group">
              <select class="form-control" name="spec" id="inputSpec">
                <option>Blood Death Knight</option>
                <option>Frost Death Knight</option>
                <option>Unholy Death Knight</option>
                <option>Havoc Demon Hunter</option>
                <option>Vengeance Demon Hunter</option>
                <option>Balance Druid</option>
                <option>Feral Druid</option>
                <option>Guardian Druid</option>
                <option>Restoration Druid</option>
                <option>Beast Mastery Hunter</option>
                <option>Marksman Hunter</option>
                <option>Survival Hunter</option>
                <option>Arcane Mage</option>
                <option>Fire Mage</option>
                <option>Frost Mage</option>
                <option>Brewmaster Monk</option>
                <option>Mistweaver Monk</option>
                <option>Windwalker Monk</option>
                <option>Holy Paladin</option>
                <option>Protection Paladin</option>
                <option>Retribution Paladin</option>
                <option>Discipline Priest</option>
                <option>Holy Priest</option>
                <option>Shadow Priest</option>
                <option>Assassination Rogue</option>
                <option>Outlaw Rogue</option>
                <option>Subtlety Rogue</option>
                <option>Elemental Shaman</option>
                <option>Enhancement Shaman</option>
                <option>Restoration Shaman</option>
                <option>Affliction Warlock</option>
                <option>Demonology Warlock</option>
                <option>Destruction Warlock</option>
                <option>Arms Warlock</option>
                <option>Fury Warlock</option>
                <option>Protection Warlock</option>
              </select>
              <label for="inputSpec">WoW Specialization</label>
            </div>

            <hr>
            
            <!--PASSWORD-->
            <div class="form-label-group">
              <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password"
                required>
              <label for="inputPassword">Password</label>
            </div>

            <!--PASSWORD CONFIRMATION-->
            <div class="form-label-group">
              <input type="password" id="inputConfirmPassword" name="cpassword" class="form-control"
                placeholder="Password" required>
              <label for="inputConfirmPassword">Confirm password</label>
            </div>

            <!--SUBMIT-->
            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit"
              style="margin-top: 10%;">Register</button>
            <a class="d-block text-center mt-2 small" href="/login">Sign In</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}
<footer class="py-4 bg-dark text-white fixed-bottom" id="sticky-footer">
  <div class="container text-center">
    <small>Copyright &copy; Zak Pruitt</small>
  </div>
</footer>
{% endblock %}