{% extends "_master.html" %}

{% block title %}Create Assignment{% endblock %}

{% block content %}

<!--NAV-->
{% include "_nav.html" %}

<div class="container-fluid">
    <div class="row">
        {% include "_sidebar.html" %}

        <!--CONTENT-->
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <!--BUTTONS-->
            <div
                class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h2 id="titleDisplay">Students</h2>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group me-2">
                        <button type="submit" form="classroom"
                            class="btn btn-sm btn-outline-secondary btn-hover-primary">
                            Submit Changes
                        </button>
                    </div>
                </div>
            </div>

            <form method="POST" id="classroom">
                <div class="create-container">
                    <h2>Student Records</h2>


                    <div class="table-responsive">
                        <table class="table table table-sm" style="text-align: center;">
                            <thead>
                                <tr>
                                    <th>Student Email</th>
                                    <th>Full Name</th>
                                    <th>Coins</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>znpruitt@eagles.usi.edu</td>
                                    <td>Zakary Pruitt</td>
                                    <td><input type="number" class="form-control" id="input1" placeholder="enter amount"></td>
                                </tr>
                                <tr>
                                    <td>znpruitt@eagles.usi.edu</td>
                                    <td>Zakary Pruitt</td>
                                    <td><input type="number" class="form-control" id="input1" placeholder="enter amount"></td>
                                </tr>
                                <tr>
                                    <td>znpruitt@eagles.usi.edu</td>
                                    <td>Zakary Pruitt</td>
                                    <td><input type="number" class="form-control" id="input1" placeholder="enter amount"></td>
                                </tr>
                                <tr>
                                    <td>znpruitt@eagles.usi.edu</td>
                                    <td>Zakary Pruitt</td>
                                    <td><input type="number" class="form-control" id="input1" placeholder="enter amount"></td>
                                </tr>
                                <tr>
                                    <td>znpruitt@eagles.usi.edu</td>
                                    <td>Zakary Pruitt</td>
                                    <td><input type="number" class="form-control" id="input1" placeholder="enter amount"></td>
                                </tr>
                                <tr>
                                    <td>znpruitt@eagles.usi.edu</td>
                                    <td>Zakary Pruitt</td>
                                    <td><input type="number" class="form-control" id="input1" placeholder="enter amount"></td>
                                </tr>
                                <tr>
                                    <td>znpruitt@eagles.usi.edu</td>
                                    <td>Zakary Pruitt</td>
                                    <td><input type="number" class="form-control" id="input1" placeholder="enter amount"></td>
                                </tr>
                                <tr>
                                    <td>znpruitt@eagles.usi.edu</td>
                                    <td>Zakary Pruitt</td>
                                    <td><input type="number" class="form-control" id="input1" placeholder="enter amount"></td>
                                </tr>
                                <tr>
                                    <td>znpruitt@eagles.usi.edu</td>
                                    <td>Zakary Pruitt</td>
                                    <td><input type="number" class="form-control" id="input1" placeholder="enter amount"></td>
                                </tr>
                                <tr>
                                    <td>znpruitt@eagles.usi.edu</td>
                                    <td>Zakary Pruitt</td>
                                    <td><input type="number" class="form-control" id="input1" placeholder="enter amount"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </form>
        </main>
    </div>
</div>

<!--UNIQUE SCRIPTS-->
<script src="../static/js/classroom.js"></script>
{% endblock %}